@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Shizuru&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    background-image: url(bground.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.days, .hours, .minutes, .seconds{
    margin-right: 50px;
    padding: 5px 10px;
    background-color: #57A773;
    color: #EFE9F4;
    border-radius: 32px;
}
.seconds{
    margin-right: 0;
}

.text{
    color: #EFE9F4;
    text-align: center;
    max-width: 50%;
}